<div class="quizMenu">
  <div class="QuizSelectorBox" [@startAnim]="animationState">
      <h1 class="title">What quiz would you like to play?</h1>
      <div class="quizzes">
          <button class="quiz"
            *ngFor="let button of quiz"
            [ngClass]="{ 'selected': selectedQuiz === button }"
            (click)="pickQuiz(button)"
          >
            {{ button.nameQuiz }}
          </button>
      </div>
      <div>
          <button class="bStartQuiz" (click)="startQuiz()">Start Game!</button>
      </div>
  </div>
</div>