<div class="quizPage">
    <div class="titleField">
        <h1 class="titleQuiz">{{selectedTitle}}</h1>
    </div>


    <div class="questionBox">
        <p [ngClass]="{'visibleQuestion': questionVisible, 'hiddenQuestion': !questionVisible}">{{this.selectedQuestion.question}}</p>
        <p [ngClass]="{'visibleAnswer': answerVisible, 'hiddenAnswer': !answerVisible}">Antwort: {{this.selectedQuestion.answer}}</p>
        <div class="spieler">
            <button class="spielerName" *ngFor="let name of this.players" (click)="selectPlayer(name)"
                (click)="addScore(selectedPunkte)" (click)="showAnswer()" (click)="hideQuestion()">
                {{name.name}} {{name.score}}
            </button>
        </div>
    </div>

    <div class="score">
        <button class="showScore" (click)="showScore()">SCORE</button>
        <div class="scoreBoard"></div>
    </div>

    <div class="quitGame">
        <button class="quit" (click)="quitQuiz()">QUIT</button>
    </div>

    <div class="winners">

    </div>
    <app-category></app-category>
    <div class="backgroundLineContainer">
        <div class="backgroundLine"></div>
    </div>
</div>